# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
public/dist-server
public/tmp
public/out-tsc

# dependencies
public/node_modules
node_modules

# IDEs and editors
public/.idea
public/.project
public/.classpath
public/.c9/
public/*.launch
public/.settings/
public/*.sublime-workspace
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
public/.vscode/*
public/!.vscode/settings.json
public/!.vscode/tasks.json
public/!.vscode/launch.json
public/!.vscode/extensions.json

# misc
public/.sass-cache
public/connect.lock
public/coverage
public/libpeerconnection.log
public/npm-debug.log
public/testem.log
public/typings

# e2e
public/e2e/*.js
public/e2e/*.map

# System Files
public/.DS_Store
public/Thumbs.db
